.startPage {
  background-color: tan;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.startPage-developedBy {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  justify-content: center;
  align-items: center;
}

.startPage-simulationButton {
  width: fit-content;
  padding: 12px;
  cursor: pointer;
  margin-top: 24px;
  border-radius: 4px;
  border: 1px solid black;
  font-weight: bold;
}
