.configurationCard {
  width: 45vh;
  height: 100%;
  background-position: center;
  border-radius: 16px;
  padding: 0 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-size: cover;
  background-repeat: round;

  .configurationCard-title {
    color: white;
    text-align: center;
    font-size: 32px;
  }

  .configurationCard-list {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .configurationCard-listItem {
      color: white;
    }
  }

  .configurationCard-button {
    width: fit-content;
    align-self: center;
    padding: 12px;
    margin-bottom: 16px;
  }
}
