.loadingSimulationPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .loadingSimulationPage-buttons {
    margin-top: 32px;
    display: flex;
    flex-direction: row;

    .background {
      position: absolute;
      background-color: white;
      width: 100%;
      height: 100%;
      transform: translate(0, -100%);
      border-radius: 4px;
    }

    div {
      position: relative;

      button {
        z-index: 1;
      }
    }

    > div ~ div {
      margin-left: 80px;
    }
  }
}
