.graphsPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  .graphsPage-sidebar {
    width: 200px;
    background-color: #24124a;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .graphsPage-sidebarItemsList {
      > div ~ div {
        margin-top: 32px;
      }

      .graphsPage-sidebarItem {
        .graphsPage-sidebarItemInfo {
          display: flex;
          flex-direction: row;
          align-items: center;

          svg {
            width: 32px;
            height: 32px;
            margin-right: 16px;
          }

          h2 {
            color: white;
          }
        }

        .graphsPage-sidebarSubitems {
          display: flex;
          flex-direction: column;
          margin-left: 24px;

          span {
            color: white;
            cursor: pointer;
          }

          span.active {
            font-weight: bold;
          }

          > span ~ span {
            margin-top: 8px;
          }
        }
      }
    }

    .graphsPage-sidebarButtons {
      > button {
        width: 100%;
        padding: 12px;
        font-weight: bold;
      }

      button ~ button {
        margin-top: 16px;
      }
    }
  }

  .graphsPage-plotWrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .graphsPage-collision {
      display: flex;
      flex-direction: row;
      margin-top: 24px;
      background-color: white;
      padding: 16px 24px;
      border-radius: 4px;
      align-items: center;

      svg {
        width: 24px;
        height: 24px;
        margin-right: 24px;
      }

      span {
        color: black;
      }
    }
  }
}
