.knownBodies {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 5%;

  .knownBodies-bodies {
    width: 20vw;
    min-width: 300px;

    .knownBodies-selector {
      margin-top: 24px;
      margin-bottom: 24px;
    }

    .knownBodies-chooseBodiesObservation {
      display: block;
      text-align: justify;
      font-size: 12px;
    }
  }

  .knownBodies-date {
    display: flex;
    flex-direction: column;

    .knownBodies-chooseDate {
      margin-bottom: 24px;
    }
  }
}

.sails-wrapper {
  height: 100%;

  button {
    margin-bottom: 16px;
  }
}

.bodiesParameters {
  display: flex;
  flex-direction: column;

  .parameters {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5%;
  }
}
