.parametersModal {
  background: white;
  width: 50%;
  height: 70%;
  padding: 36px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  min-width: 700px;
  min-height: 500px;

  h1 {
    text-align: center;
    color: black;
  }

  .parametersModal-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .parametersModal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;

    width: 100%;
    margin-top: auto;
  }
}

.modal-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;

  .accordionSummary {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    div {
      svg {
        width: 24px;
        height: 24px;
      }

      svg ~ svg {
        margin-left: 24px;
      }
    }
  }
}
