.configurationSelection {
  width: 100%;
  height: 100%;

  .configurationSelection-title {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    text-align: center;

    margin-top: 64px;
    margin-bottom: 64px;

    color: white;
  }

  .configurationSelection-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 65%;
    margin: 0 40px;
  }
}
