@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue");

.App {
  width: 100%;
  height: 100%;
}

.page {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(Images/space_background.jpeg);
}
