body {
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", "Open Sans", sans-serif;

  h1 {
    font-family: Bebas Neue;
    font-weight: 500;
    font-size: 36px;
    color: white;
  }

  h2 {
    font-family: Bebas Neue;
    font-weight: 500;
    font-size: 24px;
  }

  h3 {
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 18px;
  }

  .fontSubtitle {
    font-weight: 700;
    font-size: 16px;
    color: white;
  }

  .fontText {
    font-weight: normal;
    font-size: 16px;
  }
}

#root {
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}
